.gradle
/.idea/
/.idea/*
*/build/*
/build
.DS_Store
test-output/*
.settings/
assembly/
target/*
.git/
.DS_Store
*.zip
*.jpg
*.mpeg
*.gif
*.bmp
*.png
*.svg
*.css
*.js
/target/
*/css/
*/javascript/
*/img/
index.html
gherkin-results/*
*Results.xml
src/test/resources/setup.properties
/src/test/resources/setup.properties
.idea/encodings.xml
*.iml
*.classpath
/.metadata/
/bin/
.project
